<section id="get_proposal">
  <div class="main_content">
    <div class="text_box">
      <h1>We Read between the numbers.</h1>
      <p>
        Propel your business to new heights with our award-winning<br />
        Digital marketing services and technology based platform.
      </p>
      <button>Get a Proposal</button>
    </div>
  </div>
  <div class="art_work">
    <div class="img_box">
      <img
        src="../../assets/Artboard 1@4x 1.png"
        alt="man setting on a chair"
      />
    </div>
    <img class="cloud" src="../../assets/Vector_1.png" alt="cloud" />
    <img class="cloud" src="../../assets/Vector_1.png" alt="cloud" />
  </div>
</section>
