<section id="contact">
  <div class="left_half">
    <div class="text_box">
      <h1>Discover how we can help your business grow</h1>
    </div>
    <div class="inputs">
      <div class="first_input">
        <input type="text" placeholder="Full Name" />
        <input type="text" placeholder="Email" />
        <input type="url" placeholder="Company Website" />
      </div>
      <div class="second_input">
        <input type="text" placeholder="Postion" />
        <input type="number" placeholder="Mobile number" />
        <input type="number" placeholder="Budget" />
      </div>
      <div class="text-area">
        <textarea id="" cols="55" rows="2">
            Tell us more..
        </textarea>
      </div>
    </div>
    <button>Hear From An Expert</button>
  </div>
  <img src="../../assets/Group 723.png" alt="" />
</section>
<section class="dialog">
  <img src="../../assets/VectorCall.png" />
  <div class="text_box_1">
    <p>Ready to speak with a marketing expert?Give us a ring</p>
  </div>
  <button>Book A Meeting</button>
  <div class="text_box_2">
    <p>
      <span>+$2M </span><br />
      Ads Spending
    </p>
  </div>
  <div class="text_box_3">
    <p>
      <span>+500</span><br />
      Satisfied Clients
    </p>
  </div>
  <div class="text_box_4">
    <p>
      <span>+8</span><br />
      Years on The market
    </p>
  </div>
</section>
