<div class="nav-postion">
  <div class="nav-bar">
    <a routerLink="#"><img src="../../assets/Dottopia's Logo 1.png" /></a>
    <div>
      <ul class="nav-items">
        <li><a href="#get_proposal">Who Are We</a></li>
        <li><a href="#sevice_section">Services</a></li>
        <li><a href="#case_studies">Case Studies</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><button>Get a Proposal</button></li>
      </ul>
    </div>
  </div>
</div>
