<footer>
  <div class="main_area">
    <div class="logo_area">
      <img src="../../assets/Dottopia's Logo 2.png" alt="logo" />
      <div class="text_box">
        <p>
          <span>We read Between the numbers !</span><br />
          17 Aswan Square, Agouza - Cairo - Egypt<br />
          Tax ID : 442-905-530
        </p>
      </div>
    </div>
    <div class="text_area_1">
      <span> SERVICES </span><br />
      <a href="#">Digital Marketing Services</a>
      <a href="#">PPC Services</a>
      <a href="#">Social Media Services</a>
      <a href="#">Digital Advertising Services</a>
      <a href="#">Content Marketing Services</a>
      <a href="#">Creative Services</a>
      <a href="#">Vdeo Proiduction Servies</a>
      <a href="#">Digital Marketing Services</a>
    </div>
    <div class="text_area_2">
      <span> RESOURCES</span><br />
      <a href="#">About Us</a>
      <a href="#">testimonials</a>
      <a href="#">Contact Us</a>
      <a href="#">Careers</a>
    </div>
    <div class="text_area_3">
      <span>Case Studies</span><br />
      <a href="#">Crystal Ghee</a>
      <a href="#">Mothers Day video </a>
      <a href="#">Monginies Video</a>
    </div>
    <div class="social_accounts">
      <p>Follow us</p>
      <div class="links">
        <a href="https://www.facebook.com/Dottopia/" target="_blank"
          ><img src="../../assets/fb.png" alt="facebook"
        /></a>
        <a href="https://www.linkedin.com/company/dottopia/" target="_blank"
          ><img src="../../assets/linkdin.png" alt="linkdin"
        /></a>
        <a href="https://www.instagram.com/dottopia_agency/" target="_blank"
          ><img src="../../assets/instagram.png" alt="instagram"
        /></a>
        <a href="#"><img src="../../assets/twitter.png" alt="twitter" /></a>
      </div>
    </div>
  </div>
  <p>
    Dottopia® 2014-2022 | Celebrating 8+ Years of Digital Marketing Excellence
  </p>
</footer>
