<section class="section_1" id="case_studies">
  <div class="text_box">
    <h1>Join 100+ businesses growing with Dottopia.</h1>
  </div>
  <div class="brands">
    <img src="../../assets/uber.png" />
    <img src="../../assets/Logo_MAECI_Verticale 1.png" />
    <img src="../../assets/logo-infinix-800x800.png" />
    <img src="../../assets/VEBIX.png" />
    <img src="../../assets/download 1.png" />
    <img src="../../assets/download.png" />
    <img src="../../assets/logo 1.png" />
  </div>
</section>
<section class="section_2">
  <div class="text_box">
    <h1>Case Studies?!</h1>
    <p>
      We've been delivering unmatched results across a variety of industries for
      ages. Browse our agency's case studies to hear from some of our customers.
    </p>
  </div>
  <div class="stories">
    <img class="margin_right" src="../../assets/Group 717.png" />
    <div class="first_story">
      <img src="../../assets/Button_Video.png" />
      <div class="text_box">
        <h6>Diseño Gráfico Scenic</h6>
        <p>Stories, Branding</p>
      </div>
    </div>
    <div class="second_story">
      <img src="../../assets/Button_Video.png" />
      <div class="text_box">
        <h6>Diseño Gráfico Scenic</h6>
        <p>Stories, Branding</p>
      </div>
    </div>
    <div class="third_story">
      <img src="../../assets/Button_Video.png" />
      <div class="text_box">
        <h6>Diseño Gráfico Scenic</h6>
        <p>Stories, Branding</p>
      </div>
    </div>
    <img class="rotate margin_left" src="../../assets/Group 717.png" />
  </div>
  <div class="nav_small_bar">
    <p>1</p>
    <div class="line"></div>
    <p>8</p>
  </div>
</section>
