<section class="container" id="sevice_section">
  <div class="flex_col">
    <div class="header_box">
      <h1>Experts in all aspect of the Digital Marketing.</h1>
    </div>
    <div class="text_box">
      <p>
        We are passionate about creating brands, bringing out their best &
        uttermost results, performing all marketing services and forming
        creative campaigns to enable smooth, stable and successful relationships
        between businesses and customers.
      </p>
    </div>
  </div>
  <div class="nav_services">
    <div class="circle_box">
      <span
        (click)="toggleActive1()"
        [ngClass]="{ activeCr1: active1 }"
        class="small_ellipse"
      ></span>
    </div>
    <div class="circle_box">
      <span
        (click)="toggleActive2()"
        [ngClass]="{ activeCr2: active2 }"
        class="small_ellipse"
      ></span>
    </div>
    <div class="circle_box">
      <span
        (click)="toggleActive3()"
        [ngClass]="{ activeCr3: active3 }"
        class="small_ellipse"
      ></span>
    </div>
    <div class="circle_box">
      <span
        (click)="toggleActive4()"
        [ngClass]="{ activeCr4: active4 }"
        class="small_ellipse"
      ></span>
    </div>
    <div class="nav_small_bar"></div>
  </div>
  <div class="services">
    <div id="first_service" *ngIf="active1">
      <div class="number_circle">
        <img src="../../assets/Ellipse 120.png" />
        <p>1</p>
      </div>
      <h2>Social Media Managment</h2>
      <p class="text">
        Your social media cannot be in safer or more creative hands.A brand is
        objective becomes Dottopia is Persistent goal that knows no rest until
        completion.
      </p>
      <button>
        View Work <span><img src="../../assets/Vector 2.1.png" /></span>
      </button>
    </div>
    <div id="second_service" *ngIf="active2">
      <div class="number_circle">
        <img src="../../assets/Ellipse 120.png" />
        <p>2</p>
      </div>
      <h2>Lorem ipsum dolor sit amet consectetur</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas,
        animi consequuntur totam quaerat obcaecati eum dolorem corporis nisi aut
        tempore itaque odio omnis voluptatem sit ex hic dignissimos nulla
        dolorum.
      </p>
      <button>
        View Work <span><img src="../../assets/Vector 2.1.png" /></span>
      </button>
    </div>
    <div id="third_service" *ngIf="active3">
      <div class="number_circle">
        <img src="../../assets/Ellipse 120.png" />
        <p>3</p>
      </div>
      <h2>Lorem ipsum dolor sit amet consectetur</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas,
        animi consequuntur totam quaerat obcaecati eum dolorem corporis nisi aut
        tempore itaque odio omnis voluptatem sit ex hic dignissimos nulla
        dolorum.
      </p>
      <button>
        View Work <span><img src="../../assets/Vector 2.1.png" /></span>
      </button>
    </div>
    <div id="forth_service" *ngIf="active4">
      <div class="number_circle">
        <img src="../../assets/Ellipse 120.png" />
        <p>4</p>
      </div>
      <h2>Lorem ipsum dolor sit amet consectetur</h2>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas,
        animi consequuntur totam quaerat obcaecati eum dolorem corporis nisi aut
        tempore itaque odio omnis voluptatem sit ex hic dignissimos nulla
        dolorum.
      </p>
      <button>
        View Work <span><img src="../../assets/Vector 2.1.png" /></span>
      </button>
    </div>
  </div>
</section>
<section class="section_2">
  <img src="../../assets/Group.png" />
  <div class="right_half">
    <div class="header_box">
      <h1>
        Ready to grow with a digital marketing agency you can trust? Get your
        free proposal today
      </h1>
    </div>
    <div class="text_box">
      <p>
        Our digital marketing experts have put together thousands of successful
        digital marketing campaigns for businesses looking to increase leads,
        phone calls, transactions, conversion and significant website traffic.
        We will do the same for you. Request a free strategy proposal and get a
        game plan for elite revenue generation.
      </p>
    </div>
    <button>Book a Meeting</button>
  </div>
</section>
<section class="section_3">
  <div class="left_half">
    <div class="header_box"><h1>Real Stories from Real Customers</h1></div>
    <img src="../../assets/“.png" />
    <p>Get inspired by these stories.</p>
    <button>See All Stories</button>
  </div>

  <div class="right_half">
    <div class="grid">
      <div class="text_box">
        <p>
          <strong>Code Quality</strong>
          <br />
          “5 stars WordPress template! If anyone wants an example of what you
          can do with this theme.”
        </p>
        <h6>Alex Regelman</h6>
        <p class="job_title">Co-founder, Colabrio</p>
      </div>
      <div class="text_box">
        <p>
          <strong>Customer Support</strong>
          <br />
          “It's totally customizable with the theme settings and compatible with
          a tonne of plugins.”
        </p>
        <h6>Laura Morton</h6>
        <p class="job_title">UI/UX Designer, Colabrio</p>
      </div>
    </div>
  </div>
</section>
<section class="section_4">
  <div class="left_half">
    <div class="text_box">
      <h1>
        Looking for the <img src="../../assets/Group (1).png" alt="" /> Fastest
        way to implement your Strategy?
      </h1>
      <p>The best option if you need server-side tracking for Facebook only.</p>
    </div>
  </div>
  <button>
    Get Porposal<span><img src="../../assets/Vector 2.1.png" /></span>
  </button>
</section>
<section class="section_5">
  <div class="left_half">
    <div class="text_box">
      <h1>Why you Should Work with Dottopia?</h1>
      <p>
        Whether you are a massive multinational conglomerate or a startup in
        stealth mode - we give our clients the creative, technical and business
        talent they need to succeed.
      </p>
    </div>
    <div class="reasons">
      <div class="first_reason">
        <img src="../../assets/resaon_one.png" />
        <p>
          <span>account manager</span><br />Dedicated account manager for each
          account
        </p>
      </div>
      <div class="second_reason">
        <img src="../../assets/resaon_two.png" />
        <p>
          <span>Staff Specialists</span> <br />in marketing, design, automation
          & development
        </p>
      </div>
      <div class="third_reason">
        <img src="../../assets/resaon_three.png" />
        <p>
          <span>reporting platform</span><br />Clear and concise reporting
          platform
        </p>
      </div>
    </div>
  </div>
  <div class="right_half">
    <img src="../../assets/2 7908192.png" />
  </div>
</section>
